html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

.container {
    margin-top: 80px;
    background-color: rgb(240, 240, 240);
    width: 90vw;
    max-width: 1400px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainTitle {
    width: 100%;
    height: 50px;
    z-index: 10;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.mainTitle h1 {
    font-size: 22px;
    font-weight: bold;
}

.calculator {
    height: 450px;
    width: 350px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.calculator h2 {
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    width: 400px;
    margin: 0;
}

.simulator {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    pointer-events: none;
}

.simulator p {
    font-size: 10px;
    height: 15px;
    font-weight: lighter;
}

.infoIcon {
    height: 15px;
    margin-top: 5px;
}

.info {
    position: absolute;
    display: none;
    height: 50px;
    font-size: 10px;
    color: white;
    word-break: break-all;
    background-color: rgb(255, 210, 128);
}

.infoIcon:hover .info {
    display: block;
}

.infoIcon img {
    width: 17px;
    height: 17px;
    pointer-events: all;
    cursor: help;
}

#options, #optionsTwo {
    display: flex;
    width: 150px;
    height: 35px;
    padding: 0;
    margin: 0;
    pointer-events: all;
}

#options li, #optionsTwo li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: solid 1px black;
    justify-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

#options li {
    width: 75px;
}

#options li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#options li:last-child {
    border-left: solid 2px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#optionsTwo li:first-child {
    border-right: solid 2px black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#optionsTwo li:last-child {
    border-left: solid 2px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#optionsTwo li {
    width: 55px;
}

#options p, #optionsTwo p {
    pointer-events: none;
    text-decoration: none;
}

#optionsTwo p {
    font-size: 9px;
    padding-top: 2px;
}

#options img, #optionsTwo img {
    width: 12px;
    height: 12px;
    margin-top: 9px;
    pointer-events: none;
}

.active {
    background-color: rgb(255, 143, 78);
}

.active img {
    display: block;
}

.active p {
    color: white;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#valuesCalc {
    margin-top: 20px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#valuesCalc ul {
    margin: 0;
    padding: 0;
}

#valuesCalc li {
    list-style: none;
}

#valuesCalc p {
    pointer-events: none;
}

input {
    width: 140px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px black;
    resize: none;
    pointer-events: all;
}

input::selection {
    background-color: rgb(64, 115, 255);
}

input:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: solid 1px black;
}

.red {
    color: red;
}

#error, #error2, #error3, #error4, #error5, #error6 {
    font-size: 9px;
    color: red;
}

#buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 40px;
}

#buttons button {
    width: 170px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#clear {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 10px;
    pointer-events: all;
}

#newSimulation {
    position: absolute;
    display: none;
    width: 300x;
    height: 60px;
    background-color: rgb(255, 143, 78);
    border-radius: 10px;
    pointer-events: all;
    margin-top: 400px;
    margin-left: 40%;
    color: white;
    border: solid 1px transparent;
}

#submit {
    border: solid 1px transparent;
    border-radius: 10px;
}

.submit-disable {
    background-color: rgb(139, 139, 139);
    pointer-events: none;
}

.submit-active {
    background-color: rgb(255, 143, 78);
    pointer-events: all;
}

.api {
    margin-right: 20px;
    width: 60%;
    max-width: 900px;
    height: 430px;
    display: none;
}

.api-show {
    transition: all 1s;
    display: block;
}

.api p {
    font-size: 18px;
    font-weight: bold;
}

#apiList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    width: 90%;
    max-width: 830px;
    height: 250px;
}


#apiList li {
    width: 25%;
    max-width: 200px;
    height: 90px;
    background-color: rgb(247, 247, 247);
    border: solid 4px rgba(204, 204, 204, 50%);
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#apiList p {
    font-size: 14px;
}

#apiList li p:first-child {
    font-weight: bold;
}

@media screen and (max-width: 1250px) {
    .api {
        width: 60%;
    }
    #apiList {
        height: 80%;
        width: 90%;
    }
}

@media screen and (max-width: 1150px) {
    .api {
        z-index: 10;
        position: absolute;
        margin-top: 60px;
        margin-left: 40px;
        height: 65%;
        width: 87%;
        background-color: rgb(240, 240, 240);
    }

    #apiList {
        width: 85%;
        margin-left: 15px;
    }

    #newSimulation {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    .calculator {
        flex-direction: row;
        justify-content: space-around;
    }

    #buttons {
        width: 80%;
        max-width: 170px;
        display: flex;
        justify-content: space-between;
    }

    .api {
        width: 80%;
        height: 70%;
    }

    #apiList {
        width: 70%;
    }

    #apiList li {
        width: 45%;
    }

    .api p {
        font-size: 16px;
    }

    #newSimulation {
        margin-left: 35%;
    }
}

@media  screen and (max-width: 450px) {
    .container {
        height: 100%;
    }
    .calculator {
        height: 1000px;
        width: 60%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    #buttons {
        flex-direction: column;
    }

    .api {
        margin-left: 0;
        height: 1000px;
    }

    #apiList {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #apiList li {
        width: 100%;
    }

    #newSimulation {
        margin-top: 1020px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 350px) {
    .container {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin-left: 0;
        padding: 0;
    }

    .calculator {
        width: 40%;
    }

    .api {
        width: 100%;
    }

    #apiList {
        width: 80%;
    }
}